{% load static %}
<!DOCTYPE html>

<html>
<head>
	<title>Home</title>
	<style>
.button {
  background-color: white; 
  border: 2px solid #008CBA;
  color: #008CBA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}
.button:hover {
	background-color: #0AC9C9;
	border: none;
	color: white;
}
.button:active {
	background-color: #0AC9C9;
	color: white;
	border: none;
	transform: translateY(2px);
}
	</style>
</head>

<body>
	<h1 style="text-align: center; margin:50px 100px">Select Image Category</h1>
	<img src="{{database_image}}" alt = "Surat" width='400' height='400' 
	style="vertical-align:top;margin:20px 100px">
	
	{% for category in categories %}
	<a href="{{category}}">
	<button class="button" style="vertical-align:top;margin:100px 10px" name={{category}} value={{category}}>
		{{category}}
	</button>
	</a>
	{% endfor %}
	
	
</body>
</html>